@import 'variabilities';
@import 'mixins_mediaq';

// CSS RESET
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: grey;
}

button {
	border: none;
}

// TEXT properties

h1,
h2,
h4,
h5,
h6 {
	font-family: $main-font;
}

h2 {
	font-size: 2rem;
	font-weight: 400;

	@include for-desktop {
		font-size: 2.5rem;
	}
}

h3 {
	font-family: $second-font;
	font-size: 1.7rem;
	font-weight: 500;
}

h4 {
	font-size: 1.3rem;
}

p {
	color: $grey-dark;
	font-family: $main-font;
	font-size: 1.2rem;
}

.section {
	margin: 80px $margin-sides;

	@include for-phone-land-and-tablet {
		margin: 50px $margin-sides-medium;
	}

	text-align: center;

	&__title {
		padding-bottom: 10px;

		@include for-phone-land-and-tablet {
			padding: 30px 0 30px 0;
		}

		color: $main-color;
	}

	&__next-par {
		display: block;
	}
}

.btn {
	display: inline-block;
	width: 100%;
	line-height: 50px;

	font-size: 1.4rem;
	text-transform: uppercase;
	text-align: center;

	border-radius: $round;

	cursor: pointer;

	&--dark {
		font-family: $main-font;

		color: $whiteish;
		background: $main-color;
	}

	&--light {
		font-family: $second-font;

		color: $main-color;
		background: $whiteish;
	}

	&--medium {
		width: auto;
		padding: 0 15px;
		font-family: $main-font;
		font-size: 1.2rem;

		color: $whiteish;
		background: $grey-dark;

		text-transform: lowercase;
	}
}
