$margin-sides: 25px;
$margin-sides-medium: 60px;

$round: 5px;

$main-font: 'Montserrat', sans-serif;
$second-font: 'Anton', sans-serif;

// Colors
$main-color: #011627;
$second-color: #e71d36;

$bright-color: #ff9f1c;
$calm-color: #2ec4b6;

$grey-light: #e6e6e6;
$grey-dark: #5a5a5a;

$whiteish: #fff;
$blackish: #333;
